fastapi~=0.135.2
alembic~=1.18.4
psycopg2-binary~=2.9.11
asyncpg~=0.31.0
sqlalchemy~=2.0.48
pydantic[email]
pydantic-settings~=2.13.1
uvicorn==0.42.0
pycountry~=26.2.16
starlette~=0.52.1
jinja2~=3.1.5
aiosmtplib~=5.1.0